body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  margin: 0;
  //padding: $half-space;
}

.left {
	float: left;
}

.inline-block {
	display: inline-block;
}

.mr {
	margin-right: 25px;
}

.cls {
	clear: both;
}

.halfWidth {
	width: 50%;
}

.ColorScale {
	width: 100%;
}

.w10 {
	width: 10%
}

.caps {
	text-transform: uppercase;
}

.mainColor {
	height: 60vh;
}

.scaleColor {
	height: 15vh;
}

.centeredBox {
	position: relative;
}

.centeredBox span {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%)
}